html, body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans";
}

* {
    box-sizing: border-box;
}

.shadow {
  color: #000;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 1px, rgba(255, 255, 255, 0.74902) 0px 1px 20px;
}

#background {
  background-image: url("/bg.jpeg");
  background-size: cover;
  padding-top: 5em;
  padding-bottom: 10em;
  min-width: 320px;
}

#logo {
  margin: 1em;
}

footer {
  padding-top: 1em;
  font-size: 2em;
}

footer i {
  margin-left: 1em;
}

#text { font-weight: bold; }

@media (max-width : 765px) {
  #background {
    padding-top: 2em;
    padding-bottom: 6em;
  }
  #form {
    margin: 2em;
  }
  #logo {
    width: 360px;
  }
}

@media (max-width : 420px) {
  #background {
    padding-top: 2em;
    padding-bottom: 6em;
  }
  #form {
    margin: 2em;
  }
  #logo {
    width: 260px;
  }
}
